# Run the shell script
# which automatically
# switches Replit servers
# when it gets banned
run = "./replit.sh"

# Open the shell script
# as the default file
entrypoint = ".replit.txt"

# Define language for
# importing from GitHub
language = "python3"
